# Compiled output
/target/
debug/
release/

# Executables and debug info
*.exe
*.pdb

# Rust analysis / compiler info
*.json
rustc_info.json
flycheck0/

# Cargo lock (library projects)
/Cargo.lock

# IDE/editor configs
.vscode/
.idea/
